<!doctype html>
<html lang="en">
    <head>
        <title>Boa Home - Update User</title>
    </head>
    <body style="color: #fff ; background-color: #000">
        <form action="{{ submit }}" method="post">
             <p>Username: <input autocomplete="off" name="newUsername" type="text" placeholder="Username"></p>
             <p>Password: <input autocomplete="off" name="newPassword" type="text" placeholder="Password"></p>
             <p>Admin: <input autocomplete="off" name="isAdmin" type="checkbox"></p>
             <input type="submit" value="Submit">
        </form>
    </body>
</html>
